@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|VT323&display=swap');


body {
background-color: rgb(41, 38, 59);
}

h1 {
    color: white;
    font-size: 3em;
    font-family: "IBM+Plex+Mono", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 3px rgb(94, 0, 0);
}

.icon {
    height: 40px;
    width: 40px;
}

.navigation-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(3, 3, 22);
    justify-content: center;    
}
.navigation__a {
    font-family: "VT323", Arial, Helvetica, sans-serif;
    color:white;  
    text-decoration: none;
}

.navigation__li {
    
    margin: .5em;
    display: inline;
    list-style: none;
    font-size: 1.2em;
}

.navigation__a:hover {
    border-bottom: 3px solid rgb(153, 0, 0);
    background-color: rgb(94, 0, 0);
    
}

.wrapper {
    margin: 0 auto;
    align-self: auto;
   
    max-width: 60rem;
}