@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Source+Sans+Pro|IBM+Plex+Mono|Open+Sans|Inconsolata|Righteous|Turret+Road|VT323&display=swap');
html {
    --desc-color: rgb(255, 255, 255);
    --desc-size: .8em;
    --desc-bgcolor: none;

    --section-bgcolor:rgba(25, 55, 139, 0.438);
    --section-border: 2px solid white;
    --section-border-radius: 10px;

    --navigation-bg-image: linear-gradient(rgb(0, 0, 0),rgb(3, 3, 22),rgb(3, 3, 22),rgb(3, 3, 22),rgb(12, 12, 85),rgb(104, 104, 136));


    
}
body {
background-color: rgb(41, 38, 59);
background-image: url(../img/textures/background.png);
background-attachment: fixed;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: "Inconsolata", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80%;
    margin: auto;
    margin-left: 20px;
    margin-right: 0px;
    text-align: center;  
    border-right: 2px solid white; 
    padding-right: 2%;
}

h2 {

    color: rgb(255, 255, 255);
    font-family: "Inconsolata", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.25rem;
    padding-top: 0;
    margin: auto;
    text-align: center;
    

}

h3 {
    color: rgb(224, 226, 97);
    font-family: "VT323", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: unset;
    margin: auto;
}

p {
    
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    color: white;
}

section {
    margin-bottom: 10rem;
    border: var(--section-border);
    border-radius: var(--section-border-radius);
    min-width: 500px;
    
}

.icon {
    height: 65px;
    width: 65px;
    
}
.header__door-container{
    
    display: flex;
    width:100%;
    margin-top: 200px;
    margin-bottom: 800px;
    justify-content: center;

}
.header__door {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.navigation-container {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-areas: ". nav .";
    top: 0;
    width: 100%;
    position: fixed;

}
.navigation-box {
    grid-area: nav;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: rgb(3, 3, 22);
    background-image: linear-gradient(rgb(0, 0, 0),rgb(3, 3, 22),rgb(3, 3, 22),rgb(3, 3, 22),rgb(12, 12, 85),rgb(104, 104, 136));
    border: white solid 2px;
    border-radius: 10px;
    min-width: 500px;
    max-width: 500px;
    
}
.navigation__icon-links{
    margin: auto;
    margin: auto;
    border: 2px solid white;
    
}    
.navigation__a, .navigation__a-last {
    color:white;  
    font-size: 1.1rem;
    font-family: "Big Shoulders Display", Arial, Helvetica, sans-serif;
    padding: 1rem;
    width: 100%;
    text-decoration: none;
    text-align: center;
    position: relative;
}
.navigation__a:hover,.navigation__a-last:hover{
    color: black;
    background-color: white;  
}
.navigation__a-last:hover{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.main__section-header{
    padding: 8px;
    background-color: rgb(8, 9, 54);
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid white;
}
.main__about-me {
    background-color: var(--section-bgcolor);
}
.main__about-me-grid__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "img current"
                        "heading heading"
                        "summary summary";
    width: 90%;
    max-width: 70rem;
    margin: auto;
    margin-top: 20px;
}
.main__about-me-grid__img {
    grid-area: img;
    margin: auto;
    text-align: center;
    border: var(--section-border);
    border-radius: 10px;
    
}   
.main__about-me-grid__current{
    grid-area: current;
    margin: auto;
    text-align: center;
}
.main__about-me-grid__heading{
    grid-area: heading;
    margin: auto;
}
.main__about-me-grid__summary{
    grid-area: summary;
    margin: auto;
    
}
.main__projects {
    background-color: var(--section-bgcolor);
}
.main__projects-grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
                "summary summary summary"
                "img1 img2 img3"
                "desc1 desc2 desc3";
    /* margin-left: auto;
    margin-right: auto; */
    width: 90%;
    max-width: 70rem;
    margin: auto;
}
.main__projects-grid__header {
    grid-area: header;
    margin-top: 10px;
    
    
}
.main__projects-grid__summary {
    grid-area: summary; 
}
.main__projects-grid__img1{
    grid-area: img1;      
}
.main__projects-grid__img2{
    grid-area: img2;    
}
.main__projects-grid__img3{
    grid-area: img3;  
}
.main__projects-grid__img1, .main__projects-grid__img2, .main__projects-grid__img3 {
    height: 250px;
    width: 250px;
}
.main__projects-grid__img1:hover,.main__projects-grid__img2:hover,.main__projects-grid__img3:hover {
   transform: scale(1.5);
}
.main__projects-grid__desc1 {
    grid-area: desc1;  
}
.main__projects-grid__desc2 {
    grid-area: desc2;      
}
.main__projects-grid__desc3 {
    grid-area: desc3;       
}
.main__projects-grid__desc1,.main__projects-grid__desc2,.main__projects-grid__desc3 {
    color: var(--desc-color);
    font-size: var(--desc-size);
    background-color: var(--desc-bgcolor); 
    text-align: center;
    margin-top: .2em;
}
.wrapper {
    margin: 0 auto;
    align-self: auto;
    max-width: 1100px;
    min-width: 500px;
}