@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    padding: 0;
    margin: 0;
  }
html {
    font: 20px/1 Lato, sans-serif;
    color: whitesmoke;
    --theme-color-orange: #ff914d;
    --theme-color-orange_dark: #b36739;
    --theme-color-blue: #007bb6;
    --theme-color-light-blue: #38b6ff;
    --theme-color-blue80: #007cb6b6;
    --theme-color-light-blue80: #38b6ffbb;
    --theme-color-white: rgba(255, 255, 255, 0.781);
    --box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.548);
}

body {
    background-image: url("./img/textures/background-night1.png"); 
    background-attachment: fixed;
    background-size: auto;
    /* overflow: hidden; */
}
h1 {
    text-align: center;
    font-size: 2rem;
    /* color: var(--theme-color-orange); */
    color: white;
    margin-bottom: 3.2rem;
    letter-spacing: .6rem;
    text-shadow: 0 0 30px whitesmoke;
}

.background {
    content: "";
    background: black fixed;
    opacity: 1;
    width: 100%;
    height: fit-content;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    transition-duration: 1s;
}
.background.show {
    /* opacity: .2; */
    background: rgba(0, 0, 0, 0.418);
    transition-duration: 1s;
}

.foreground {

}
.foreground.show{

}

.main-container {
    margin: 0 auto;
    width: 100%;
}

/* ======DEV STUFF====== */

/* buttons */
.button-container{
    position: fixed;
    top: 0;
    z-index: 150;
}
.chunk {
    height: 500px;
    width: 100%;
}


/* =======DOOR INTRO======= */

.door-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 200px auto 35px auto;
}

.door {
    cursor: pointer;
    height: 500px;
    width: 250px;
    /* box-shadow: 0 0 2rem white; */
    animation-name: door-hover;
    animation-fill-mode: backwards;
    transition-duration: 1s;
}

@keyframes door-hover {
    0%      {box-shadow: 0 0 0 rgba(0, 0, 0, 0)}
    40%     {box-shadow: 4px -2px 6rem var(--theme-color-light-blue);}
    50%     {box-shadow: 0 0 4rem var(--theme-color-orange);}
    75%     {box-shadow: 0 0 4rem var(--theme-color-light-blue);}
    100%    {box-shadow: 0 0 6rem var(--theme-color-orange);}
}


.door-text-container {

    width: 100%;
    text-align: center;
    margin: 6rem auto;
}

/* --------DOOR TEXT--------- */
@keyframes doorText {
    0%  {
        opacity: 10%;
        right: 1rem;
        content: "W";
    }
    12%  {
        opacity: 20%;
        right: .8rem;
        content: "WE";}
    27% {
        opacity: 50%;
        right: .5rem;
        content: "WEL";}
    40% {
        opacity: 60%;
        right: .2rem;
        content: "WELC";}
    60% {
        opacity: 80%;
        right: auto;
        content: "WELCO";}
    80% {
        opacity: 100%;
        content: "WELCOM";}
    100% {content: "WELCOME";}       
}
.door-text{
    text-shadow: 0 0 2rem whitesmoke;
    color: white;
    /* font-size: 14rem; */
    float: bottom;
    content: "";
}
     
.door-text-animation::after{
    transition-duration: .5s;
    color: white;
    text-shadow: 0 0 2rem whitesmoke, 0 0 2rem white;
    font-family: Lato, sans-serif;
    font-size: 2.1rem;
    letter-spacing: .8rem;
    animation: doorText 2s linear 1s alternate;
    animation-fill-mode: forwards;
    content: "";
}   

/* ========TRANSITION======== */

.transition-box {
    
    width: 100%;
    height: 4800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), black, black, rgba(0, 0, 0, 0));
    z-index: 100;
}

/* ============NAV BAR=========== */

.nav-bar {
    opacity: 0;

    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: -2rem;
    left: 0;
    right: 0;
    background-color: var(--theme-color-blue);
    color: white;
    box-shadow: var(--box-shadow);
    width: 500px;
    height: 3rem;
    margin: 0 auto;
    padding: .5rem;
    border: 2px white solid;
    border-radius: 12px;
    z-index: 50;
}
.nav-bar > a {
    cursor: pointer;
    position: relative;
    margin: auto;
    padding: 1rem;

    transition-duration: .1s;
}

.nav-bar > a:hover{
    color: var(--theme-color-orange);
    transition-duration: .2s;
}

.nav-bar > a::before{
    content: "•";
    position: relative;
    left: -.6rem;
    opacity: 0;
    transition: .2s;
}

.nav-bar > a:hover::before {
    left: -.2rem;
    opacity: 100%;
    transition: ease-out .4s;
}

.nav-bar.show {
    opacity: 100%;
    top: .5rem;
    transition: 2s ease-out;
    transition-delay: 1.5s;
}

/* ========GENERIC SECTION========= */


.headshot {
    
    /* top: -25px; */
    left: -220px;
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    /* border: var(--theme-color-orange) solid 8px; */
    background-color: var(--theme-color-orange);
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.right-bubble-1 {
    right: -220px;
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    /* border: var(--theme-color-light-blue) solid 8px; */
    background-color: var(--theme-color-light-blue);
    box-shadow: var(--box-shadow);
    z-index: 1;
}
.content-container {
    display: flex;
    position: relative;
    justify-content: center;
    /* background-image: linear-gradient(white, var(--theme-color-orange),var(--theme-color-orange),var(--theme-color-orange), var(--theme-color-orange_dark)); */
    background-color: white;
    box-shadow: var(--box-shadow);
    color: black;
    width: 400px;
    height: auto;
    margin: auto;
    padding: 1rem 1rem;
    border: 8px solid;
    border-color: var(--theme-color-blue) var(--theme-color-light-blue) var(--theme-color-light-blue) var(--theme-color-blue);
    outline: 2px black solid;
}
.content-container-inner {
    
    width: 100%;
    height: 100%;
    padding: 2rem;
    
    /* margin: auto; */
    background-color: rgb(255, 255, 255);
    border: 2px rgb(3, 2, 0) solid;
}
